@import "~vars.scss";

.wrap{

  .line{
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: flex-start;
    padding-bottom: $basic-measure / 2;

    .photo{
      display: block;
      width: 100%;
      max-width: 150px;
    }

    .label{
      font-weight: bold;

      &.block{
        width: 100%;
      }

      &:after{
        content: ':';
        margin-right: $basic-measure / 4;
      }
    }
  }
}