<div class="panel">
  <div class="menu">
    <div class="links" *ngIf="authorizedUser">
      <button class="btn btn-common" type="button" mat-button (click)="clickInfo()">
        Анкета
      </button>

      <button class="btn btn-common" type="button" mat-button (click)="markerMode = true" *ngIf="!markerMode">
        Включить режим установки маркера
      </button>

      <button class="btn btn-common is-marker-mode" type="button" mat-button *ngIf="markerMode">
        Режим установки маркера включен
      </button>

    </div>
  </div>

  <div class="auth">
    <div class="no-auth" *ngIf="!authorizedUser">
      <div class="link" (click)="clickLogin()">Войти</div>
      <div class="link" (click)="clickRegistration()">Зарегистрироваться</div>
    </div>

    <div class="is-auth" *ngIf="authorizedUser">
      <div class="name">{{ authorizedUser.name }}</div>
      <div class="logout" (click)="logout()">(выйти)</div>
    </div>
  </div>
</div>

<agm-map
  [latitude]="lat"
  [longitude]="lng"
  (mapClick)="setMarker($event)">
    <agm-marker
      *ngFor="let user of users"
      [latitude]="user?.lat"
      [longitude]="user?.lng">
    </agm-marker>
</agm-map>
