<div class="panel">
  <div class="menu">
    <div class="link" *ngIf="authorizedUser">
      Анкета
    </div>
  </div>

  <div class="auth">
    <div class="no-auth" *ngIf="!authorizedUser">
      <div class="link">Войти</div>
      <div class="link" (click)="clickRegistration()">Зарегистрироваться</div>
    </div>

    <div class="is-auth" *ngIf="authorizedUser">
      <div class="name">{{ authorizedUser.name }}</div>
      <div class="logout" (click)="logout()">(выйти)</div>
    </div>
  </div>
</div>

<agm-map [latitude]="lat" [longitude]="lng">
  <agm-marker [latitude]="lat" [longitude]="lng"></agm-marker>
</agm-map>
