@import "~vars.scss";

.line{
  padding-bottom: $basic-measure;
  width: 100%;

  mat-form-field{
    width: 100%;
    max-width: 300px;
  }

  .error{
    color: $accent-color;
    display: block;
  }
}

