<h2 class="h2" mat-dialog-title>Регистрация</h2>

<form [formGroup]="form">
  <mat-dialog-content>
      <div class="line">
        <mat-form-field class="line-inner">
          <input class="email" id="email" placeholder="email" type="email" formControlName="email" matInput>
        </mat-form-field>
      </div>

      <div class="line">
        <mat-form-field class="line-inner">
          <input class="password" id="password" placeholder="Пароль" type="password" formControlName="password" matInput>
        </mat-form-field>
      </div>

      <div class="line">
        <mat-form-field class="line-inner">
          <input class="password" id="password2" placeholder="Пароль ещё раз" type="password" formControlName="password2" matInput>
        </mat-form-field>
      </div>

      <div class="line">
        <mat-form-field class="line-inner">
          <input class="name" id="name" placeholder="Имя" type="text" formControlName="name" matInput>
        </mat-form-field>
      </div>

      <div class="line">
        <input class="checkbox" id="agree" type="checkbox" formControlName="agree">
        <label for="agree">Согласие на обработку персональных данных</label>
      </div>
  </mat-dialog-content>

  <mat-dialog-actions>
    <button class="btn btn-common" type="button" mat-button (click)="clickCancel()">Cancel</button>
    <button class="btn btn-common" type="button" mat-button (click)="clickSubmit()" [disabled]="form.invalid">
      Зарегистрироваться
    </button>
  </mat-dialog-actions>
</form>
