@import "~vars.scss";

.line{
  padding-bottom: $basic-measure;
  width: 100%;
  min-height: $basic-measure;
  position: relative;
  outline: none;

  *{
    outline: none;
  }

  .line-inner{
    width: 100%;
    max-width: 320px;

    &.long{
      max-width: 100%;
    }

    &.photo-box{
      display: flex;
      flex-wrap: wrap;
      justify-content: flex-start;
      align-items: flex-start;

      .delete{
        margin-left: $basic-measure / 2;
        color: $accent-color;
        margin-top: -10px;
        cursor: pointer;
      }
    }
  }

  .photo{
    display: inline-block;
    max-width: 240px;
    padding-bottom: $basic-measure;
  }
}

