@import "~vars.scss";

.line{
  padding-bottom: $basic-measure;
  width: 100%;
  min-height: $basic-measure;
  position: relative;

  .line-inner{
    width: 100%;
    max-width: 300px;

    &.long{
      max-width: 100%;
    }
  }
}

