<h2 class="h2" mat-dialog-title>Анкета</h2>

<form [formGroup]="form">
  <mat-dialog-content>
    <div class="line">
      <mat-form-field class="line-inner">
        <input class="name" id="name" placeholder="Имя" type="text" formControlName="name" matInput>
      </mat-form-field>
    </div>

    <div class="line">
      <mat-form-field class="line-inner">
        <input class="city" id="city" placeholder="Город" type="text" formControlName="city" matInput>
      </mat-form-field>
    </div>

    <div class="line">
      <mat-form-field class="line-inner">
        <input class="mobile" id="mobile" placeholder="Номер мобильного телефона" type="tel" formControlName="mobile" matInput>
      </mat-form-field>
    </div>

    <div class="line">
      <mat-form-field class="line-inner long">
        <textarea class="about" matInput rows="2" cols="40" placeholder="Инфо обо мне" formControlName="about"></textarea>
      </mat-form-field>
    </div>

    <div class="line">
      <mat-form-field class="line-inner long">
        <textarea class="skills" matInput rows="2" cols="40" placeholder="С какими технологиями работаю" formControlName="skills"></textarea>
      </mat-form-field>
    </div>
  </mat-dialog-content>

  <mat-dialog-actions>
    <button class="btn btn-common" type="button" mat-button (click)="clickCancel()">Отменить</button>
    <button class="btn btn-common" type="button" mat-button (click)="clickSubmit()" [disabled]="form.invalid">
      Сохранить
    </button>
  </mat-dialog-actions>
</form>
